@page
@model ConfirmationSentModel
@{
    ViewData["Title"] = "Confirmation has been sent";
}


<h2>@ViewData["Title"]</h2>
<div>
    <p>
       Check your inbox for our confirmation email. Click on the link to verify.
    </p>
</div>
